* {
  font-family: sans-serif;
}

.chart-title{
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  height: 4rem;
  font-weight: 100;
  color: #482b2b;
  font-size: 2.2rem;
  vertical-align: center;
}

.stats {
}

.pie-chart {
  height: 100%;
}

.bar-chart {
  height: 100%;
}

.pie-chart-wrapper {
  border: 1px dashed #ddd;
  height: calc((100vh - 4rem) / 2);
}